body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(47, 151, 231);
    height: 150px;
    background-image: url(../img/pattern.png);
}

.title-h1 {
    margin-top: 40px;
    margin-bottom: 0%;
    font-size: xx-large;
}

.editor {
    margin-bottom: 20px;
}

.logo {
    position: absolute;
    height: 50px;
    margin-left: 233px;
    margin-top: 50px;
}

.article {
    margin-left: 180px;
}

.title {
    background-color: rgba(0, 106, 255, 0.611);
    color: white;
}

.line-1 {
    background-color: rgb(187, 187, 188);
}

.line-3 {
    background-color: rgb(187, 187, 188)
}